body{
    background-image: url(bgtuyu.jpeg);
    color: rgb(255, 255, 255);
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    width: 720px;
    height: 405px;
    border: 1px solid white;
    border-radius: 10px;
}
.imgtext{
    float: right;
    margin-left: 15px;
    width: 300px;
    height: 500px;
    border-radius: 10px;
}
.opening{
    width: auto ;
    height: auto ;
    background-color: #333;
    border-radius: 5px;
}
.text{
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
}